<!DOCTYPE html>
<html>
    <head>
            <title>Home</title>
            
        <style>
        </style>
    </head>
    <body>
           
            
        <h5><%= login %></h5>
        <p>Your Token</p>
        <h5><%= utoken %></h5>
                <a href="/users/users?session=<%=utoken%>&page=1&limit=5">
                    <button type="button" class="btnbtn-info" >Get Users</button><header>
                        
                      </header></a>
                    
    </body>
</html>